@import url(variables.css);


/* For Desktop */
@media only screen and (min-width: 767.1px) {

    .feature .feature_intro {
        width: 60%;
        margin-bottom: 60px;
    }

    .feature {
        text-align: left;
    }

    .feature_grid {
        display: flex;
    }

    .feature_item {
        padding: 15px;

        flex: 1;
    }

    /* Nested classes can be written like this to understand more.
    And only the last class will get the feature not the parent clases */

    .feature .feature_grid .feature_item .feature_icon {
        margin-bottom: 44px;
    }

    .feature_title {
        font-size: 24px;
        margin-bottom: 24px;
    }


}

/* For Tablets */
@media only screen and (min-width: 640.1px) and (max-width: 767px) {

    .feature {
        text-align: left;
    }

    .feature_grid {
        display: flex;
        flex-wrap: wrap;
    }

    .feature_item {
        padding: 15px;
        flex: 0 0 50%;
    }

    /* Nested classes can be written like this to understand more.
    And only the last class will get the feature not the parent clases */

    .feature .feature_grid .feature_item .feature_icon {
        margin-bottom: 44px;
    }

    .feature_title {
        font-size: 24px;
        margin-bottom: 24px;
    }


}

/* For Mobile */
@media only screen and (max-width: 640px) {

    .feature {
        text-align: center;
    }


    .feature_item {
        padding: 15px;


    }

    /* Nested classes can be written like this to understand more.
    And only the last class will get the feature not the parent clases */

    .feature .feature_grid .feature_item .feature_icon {
        margin-bottom: 30px;
    }

    .feature_title {
        font-size: 20px;
        margin-bottom: 16px;
    }

}

.feature {
    background-color: var(--lightGrayishBlue);
}

.feature .feature_intro {
    margin-bottom: 60px;
}



.feature_title {
    font-weight: 300;
    line-height: 1.15;
    color: var(--darkBlue);
}

.feature_description {
    font-size: 14px;
    line-height: 1.5;
}